automations/document_intake_v1/workflow_upload.json
{
  "updatedAt": "2026-05-09T23:01:43.966Z",
  "createdAt": "2026-05-09T22:26:34.544Z",
  "id": "riCozLIp9vwM1mjt",
  "name": "Document Intake & Processing Agent v1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node_webhook",
      "name": "Document Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "document-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "d0e853e3-1673-4b6b-a9b1-ac121a6aa6ac"
    },
    {
      "id": "node_normalize",
      "name": "Normalize Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.body || $input.first().json;\nconst now = new Date().toISOString();\nconst documentId = 'doc_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nconst executionId = $execution?.id || 'exec_' + Date.now();\n\nconst sourceType = raw.source_type || (raw.sender ? 'email' : raw.upload_session ? 'upload' : 'webhook');\nconst rawFileName = raw.file_name || null;\nconst rawFileType = raw.file_type || (rawFileName ? rawFileName.split('.').pop().toLowerCase() : null);\n\nconst doc = {\n  document_id: documentId,\n  execution_id: executionId,\n  workflow_version: 'document_intake_v1',\n  client_id: raw.client_id || 'default',\n  source_type: sourceType,\n  source_channel: raw.source_channel || null,\n  sender: raw.sender || null,\n  subject: raw.subject || null,\n  file_name: rawFileName,\n  file_type: rawFileType,\n  mime_type: raw.mime_type || null,\n  file_size: raw.file_size || null,\n  file_content_base64: raw.file_content_base64 || null,\n  document_text: raw.document_text || null,\n  document_class_hint: raw.document_class_hint || null,\n  metadata: raw.metadata || {},\n  received_at: now,\n  processed_at: null,\n  validation_passed: null,\n  validation_errors: [],\n  classification_label: null,\n  confidence_score: 0,\n  extracted_fields: {},\n  routing_destination: null,\n  filing_target: null,\n  downstream_action: null,\n  review_required: false,\n  processing_status: 'processing',\n  ai_model_used: null,\n  ai_model_source: null,\n  ai_response_time_ms: 0,\n  ai_fallback_used: false,\n  error_message: null,\n  flags: []\n};\n\nreturn [{ json: { doc, raw_payload: raw } }];"
      }
    },
    {
      "id": "node_validate",
      "name": "Validate Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst doc = { ...data.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\nconst errors = [];\n\nif (!doc.file_name) errors.push('file_name is required');\n\nconst allowedTypes = ['pdf','png','jpg','jpeg','tiff','tif','docx','doc','txt','heic','xlsx','csv'];\nif (doc.file_type && !allowedTypes.includes(doc.file_type.toLowerCase())) {\n  errors.push('Unsupported file type: ' + doc.file_type);\n}\nif (doc.file_size && doc.file_size > 52428800) {\n  errors.push('File exceeds 50MB limit');\n}\nif (!doc.document_text && !doc.file_content_base64) {\n  doc.flags.push('no_content_provided');\n  doc.flags.push('content_missing_may_need_ocr');\n}\nif (doc.document_text && doc.document_text.trim().length < 10) {\n  doc.flags.push('very_short_text');\n}\n\nif (errors.length > 0) {\n  doc.validation_passed = false;\n  doc.validation_errors = errors;\n  doc.processing_status = 'failed';\n  doc.downstream_action = 'reject';\n} else {\n  doc.validation_passed = true;\n}\n\nreturn [{ json: { doc, raw_payload: data.raw_payload } }];"
      }
    },
    {
      "id": "node_validation_gate",
      "name": "Validation Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.doc.validation_passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node_extract_text",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        180
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst doc = { ...data.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\n\nif (doc.document_text && doc.document_text.trim().length > 10) {\n  doc.flags.push('text_provided_directly');\n  return [{ json: { doc, raw_payload: data.raw_payload } }];\n}\n\nif (doc.file_content_base64) {\n  try {\n    const decoded = Buffer.from(doc.file_content_base64, 'base64').toString('utf-8');\n    const printable = decoded.replace(/[\\x00-\\x08\\x0e-\\x1f\\x7f-\\x9f]/g, '');\n    const ratio = printable.length / Math.max(decoded.length, 1);\n    if (ratio > 0.85 && printable.length > 20) {\n      doc.document_text = printable.substring(0, 8000);\n      doc.flags.push('text_extracted_from_content');\n    } else {\n      doc.flags.push('binary_content_ocr_needed');\n      doc.document_text = '[Binary content — OCR required]';\n    }\n  } catch(e) {\n    doc.flags.push('text_extraction_failed');\n    doc.document_text = '[Text extraction failed]';\n  }\n} else {\n  doc.document_text = '[No content — classification from metadata only]';\n  doc.flags.push('metadata_only_classification');\n}\n\nreturn [{ json: { doc, raw_payload: data.raw_payload } }];"
      }
    },
    {
      "id": "node_ollama",
      "name": "Ollama Classify & Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Classify this document into exactly one category. Read the document carefully before deciding.\\n\\nDOCUMENT:\\nFilename: {{ $json.doc.file_name }}\\nSender: {{ $json.doc.sender }}\\nSubject: {{ $json.doc.subject }}\\n{{ ($json.doc.document_text || '').substring(0, 2000) }}\\n\\nDECISION RULES — match the FIRST rule that applies to the document content:\\n- Contains 'INVOICE', 'Invoice Number', 'Amount Due', 'Bill To', 'INV-' → invoice\\n- Contains 'REFERRAL', 'Patient', 'Diagnosis Code', 'NPI', 'Referring Physician' → referral\\n- Contains 'NON-DISCLOSURE', 'NDA', 'AGREEMENT', 'shall not disclose', 'confidentiality' → contract\\n- Contains 'RECEIPT', 'Transaction', 'Total Paid', 'Purchase' → receipt\\n- Contains 'INTAKE', 'Client Intake', 'Patient Intake', 'service requested' → intake_form\\n- Contains 'COURT', 'CASE NO', 'PLAINTIFF', 'DEFENDANT', 'MOTION', 'ORDER' → court_document\\n- Contains 'LICENSE', 'PASSPORT', 'DRIVERS LICENSE', 'Date of Expiry' → id_document\\n- Contains 'W-2', '1099', 'TAX RETURN', 'FORM 1040', 'TAXABLE INCOME' → tax_document\\n- Contains 'PURCHASE AGREEMENT', 'ESCROW', 'REAL ESTATE', 'CLOSING' → real_estate\\n- Contains 'Dear', 'Sincerely', 'To Whom It May Concern', 'RE:' → correspondence\\n- None of the above → unknown\\n\\nReturn ONLY this JSON (no explanation, no markdown):\\n{\\\"classification_label\\\": \\\"invoice\\\", \\\"confidence\\\": 0.95, \\\"reasoning\\\": \\\"one sentence\\\"}\",\n  \"stream\": false,\n  \"format\": \"json\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node_parse",
      "name": "Parse & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        180
      ],
      "parameters": {
        "jsCode": "const ollamaData = $input.first().json;\nconst prevData = $('Validation Gate').first().json;\nconst doc = { ...prevData.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\n\ntry {\n  const extracted = $('Extract Text').first().json;\n  if (extracted && extracted.doc) {\n    doc.document_text = extracted.doc.document_text || doc.document_text;\n    doc.flags = [...new Set([...doc.flags, ...(extracted.doc.flags || [])])];\n  }\n} catch(e) {}\n\nconst rawText = doc.document_text || '';\nconst searchText = (rawText + ' ' + (doc.file_name || '') + ' ' + (doc.subject || '') + ' ' + (doc.sender || '')).toLowerCase();\n\nconst VALID_LABELS = ['invoice','contract','intake_form','referral','receipt','court_document','id_document','tax_document','real_estate','correspondence','unknown'];\nconst ROUTING_MAP = { invoice:'accounts_payable', contract:'legal_review', intake_form:'client_services', referral:'patient_intake', receipt:'expense_management', court_document:'legal_urgent', id_document:'compliance', tax_document:'finance_team', real_estate:'transactions', correspondence:'general_inbox', unknown:'human_review_queue' };\n\n// ── Step 1: Keyword-based classification (deterministic, instant) ──────\nfunction keywordClassify(t) {\n  if (/\\b(invoice|inv-|amount due|bill to|invoice number|vendor invoice|billed by|remittance|payable to)\\b/.test(t)) return 'invoice';\n  if (/\\b(patient referral|referring physician|npi:|diagnosis code|diagnosis:|referral to|authorization number|auth-)\\b/.test(t)) return 'referral';\n  if (/\\b(non-disclosure|nda\\b|this agreement|shall not disclose|confidential information|governing law|party a|party b)\\b/.test(t)) return 'contract';\n  if (/\\b(receipt|total paid|merchant:|transaction date|payment method:|purchase receipt)\\b/.test(t)) return 'receipt';\n  if (/\\b(intake form|client intake|patient intake|service requested:|reason for visit|chief complaint)\\b/.test(t)) return 'intake_form';\n  if (/\\b(case no|case number|plaintiff|defendant|in the court|motion for|order of|judicial)\\b/.test(t)) return 'court_document';\n  if (/\\b(passport|driver.?s license|state id|license no|document no|date of expiry|issuing authority)\\b/.test(t)) return 'id_document';\n  if (/\\b(w-?2\\b|1099-|form 1040|tax return|taxable income|tax year|irs|wages and tips)\\b/.test(t)) return 'tax_document';\n  if (/\\b(purchase agreement|real estate|escrow|closing date|property address|buyer:|seller:|title insurance)\\b/.test(t)) return 'real_estate';\n  if (/\\b(dear |to whom it may concern|sincerely,|memorandum|re: |per our discussion)\\b/.test(t)) return 'correspondence';\n  return null;\n}\n\nconst kwLabel = keywordClassify(searchText);\nconst hintLabel = VALID_LABELS.includes((doc.document_class_hint || '').toLowerCase()) ? doc.document_class_hint.toLowerCase() : null;\n\n// ── Step 2: AI classification ──────────────────────────────────────────\nconst ollamaRaw = ollamaData.response || null;\nlet aiLabel = null, aiSuccess = false;\n\ntry {\n  if (!ollamaRaw || ollamaData.error) throw new Error('Ollama unavailable');\n  const parsed = typeof ollamaRaw === 'string' ? JSON.parse(ollamaRaw) : ollamaRaw;\n  const rawLabel = (parsed.classification_label || '').toLowerCase().trim().replace(/[^a-z_]/g, '');\n  aiLabel = VALID_LABELS.includes(rawLabel) ? rawLabel : null;\n  doc.ai_model_used = 'llama3.2';\n  doc.ai_model_source = 'ollama_local';\n  doc.ai_fallback_used = false;\n  aiSuccess = true;\n} catch(e) {\n  doc.ai_model_used = null;\n  doc.ai_model_source = 'fallback';\n  doc.ai_fallback_used = true;\n  doc.flags.push('ai_fallback_triggered');\n}\n\n// ── Step 3: Consensus confidence scoring ──────────────────────────────\n// Keywords are deterministic and trusted. AI is a second opinion.\n// Agreement = high confidence. Keyword only = moderate. AI only = low.\nlet label, confidence;\n\nif (kwLabel && aiLabel && kwLabel === aiLabel) {\n  label = kwLabel; confidence = 0.92;  // full consensus\n  doc.flags.push('consensus_high_confidence');\n} else if (kwLabel && aiLabel && kwLabel !== aiLabel) {\n  label = kwLabel; confidence = 0.65;  // keyword wins, flag disagreement\n  doc.flags.push('ai_keyword_disagreement');\n} else if (kwLabel && !aiLabel) {\n  label = kwLabel; confidence = 0.75;  // keyword only (AI unavailable or null)\n  doc.flags.push('keyword_classification_only');\n} else if (!kwLabel && aiLabel && aiLabel !== 'unknown') {\n  label = aiLabel; confidence = 0.55;  // AI only, low confidence\n  doc.flags.push('ai_classification_only');\n} else if (hintLabel) {\n  label = hintLabel; confidence = 0.45;  // hint fallback\n  doc.flags.push('hint_used');\n} else {\n  label = 'unknown'; confidence = 0;\n  doc.flags.push('unclassified');\n}\n\n// ── Step 4: Code-based field extraction ────────────────────────────────\nfunction extract(pattern, src, group) {\n  try { const m = (src || '').match(pattern); return m ? (m[group || 1] || '').trim() || null : null; } catch(e) { return null; }\n}\n\nlet extractedFields = {};\n\nif (label === 'invoice') {\n  extractedFields = {\n    invoice_number: extract(/(?:invoice\\s*(?:number|#|no\\.?)|INV[-#])\\s*([\\w-]+)/i, rawText),\n    vendor_name: extract(/(?:^|\\n)([A-Z][A-Za-z\\s]+(?:LLC|Inc\\.?|Corp\\.?|Co\\.?|Ltd\\.?))\\s*\\n/m, rawText),\n    invoice_date: extract(/(?:invoice date|date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4})/i, rawText),\n    due_date: extract(/due\\s*(?:date|by|on)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4})/i, rawText),\n    total_amount: extract(/(?:total(?: due| amount)?|amount due|grand total|balance due)[:\\s]*\\$?([\\d,]+\\.\\d{2})/i, rawText),\n    currency: extract(/\\b(USD|EUR|GBP|CAD|AUD)\\b/, rawText) || 'USD',\n    payment_terms: extract(/payment terms[:\\s]+([\\w\\s]+?)(?:\\n|$)/i, rawText)\n  };\n} else if (label === 'referral') {\n  extractedFields = {\n    patient_name: extract(/patient\\s+name\\s*:\\s*([A-Za-z]+(?:[ \\t]+[A-Za-z]+)*)/i, rawText),\n    date_of_birth: extract(/(?:date of birth|dob)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/i, rawText),\n    referring_physician: extract(/referring\\s*(?:physician|doctor|provider)[:\\s]+(?:Dr\\.?\\s+)?([A-Za-z]+\\s+[A-Za-z]+(?:,\\s*M\\.?D\\.?)?)/i, rawText),\n    npi: extract(/NPI[:\\s#]+([0-9]{10})/i, rawText),\n    diagnosis_code: extract(/(?:ICD|diagnosis\\s*code)[:\\s]+([A-Z]\\d{2,3}(?:\\.\\d+)?)/i, rawText),\n    diagnosis_description: extract(/(?:diagnosis|condition|impression)[:\\s]+([A-Za-z][\\w\\s,]+?)(?:\\n|$)/i, rawText),\n    authorization_number: extract(/(?:auth(?:orization)?\\s*(?:number|#|no)[:\\s]+)([\\w-]+)/i, rawText),\n    urgency: extract(/urgency[:\\s]+([\\w]+)/i, rawText) || 'routine'\n  };\n} else if (label === 'contract') {\n  extractedFields = {\n    contract_type: extract(/^(NON-DISCLOSURE AGREEMENT|NDA|SERVICE AGREEMENT|PURCHASE AGREEMENT|CONSULTING AGREEMENT|EMPLOYMENT AGREEMENT|PARTNERSHIP AGREEMENT)/im, rawText),\n    effective_date: extract(/(?:effective|entered into|dated?)\\s+(?:as of\\s+)?([A-Za-z]+\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    governing_law: extract(/governing\\s*law[:\\s]+(?:laws? of the State of\\s+)?([A-Za-z]+)/i, rawText),\n    term: extract(/(\\d+)\\s+years?\\s+(?:from|term|agreement)/i, rawText)\n  };\n} else if (label === 'receipt') {\n  extractedFields = {\n    merchant_name: extract(/^([A-Z][\\w\\s&]+)\\s*\\n/m, rawText),\n    transaction_date: extract(/(?:date|transaction date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    total_amount: extract(/(?:total|amount)[:\\s]*\\$?([\\d,]+\\.\\d{2})/i, rawText),\n    currency: extract(/\\b(USD|EUR|GBP|CAD|AUD)\\b/, rawText) || 'USD',\n    payment_method: extract(/(?:paid by|payment method|card type)[:\\s]+([\\w\\s]+?)(?:\\n|$)/i, rawText)\n  };\n} else if (label === 'court_document') {\n  extractedFields = {\n    case_number: extract(/(?:case\\s*(?:no|number|#))[:\\s]+([\\w-]+)/i, rawText),\n    court_name: extract(/(?:in the|before the)?\\s*(\\w+ court[\\w\\s]*)(?:\\n|$)/i, rawText),\n    filing_date: extract(/(?:filed|filing date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    document_type: extract(/^(MOTION|ORDER|COMPLAINT|SUMMONS|JUDGMENT|NOTICE|PETITION|SUBPOENA)/im, rawText)\n  };\n} else if (label === 'tax_document') {\n  extractedFields = {\n    form_type: extract(/\\b(W-?2|1099-?[A-Z]*|1040|1065|1120|990)\\b/i, rawText),\n    tax_year: extract(/(?:tax year|year)[:\\s]+(\\d{4})|\\b(20\\d{2})\\b/, rawText),\n    taxpayer_name: extract(/(?:employee|taxpayer)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText)\n  };\n} else if (label === 'real_estate') {\n  extractedFields = {\n    property_address: extract(/(?:property address|premises|located at|property:)[:\\s]+([\\d][\\w\\s,\\.]+?)(?:\\n|$)/i, rawText),\n    purchase_price: extract(/(?:purchase price|sale price|agreed price)[:\\s]*\\$?([\\d,]+(?:\\.\\d{2})?)/i, rawText),\n    closing_date: extract(/(?:closing date|close of escrow)[:\\s]+([A-Za-z]+\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText)\n  };\n} else if (label === 'id_document') {\n  extractedFields = {\n    id_type: extract(/\\b(PASSPORT|DRIVER.?S LICENSE|STATE ID|NATIONAL ID)\\b/i, rawText),\n    id_number: extract(/(?:license no|id no|document no|number)[:\\s]+([A-Z0-9]+)/i, rawText),\n    full_name: extract(/(?:name|holder)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText),\n    expiry_date: extract(/(?:expiry|expires|valid through|valid until)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText)\n  };\n} else if (label === 'correspondence') {\n  extractedFields = {\n    document_date: extract(/^((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/im, rawText),\n    subject: doc.subject || extract(/(?:re|subject)[:\\s]+([^\\n]+)/i, rawText)\n  };\n} else if (label === 'intake_form') {\n  extractedFields = {\n    client_name: extract(/(?:name|client name|patient name)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText),\n    contact_email: extract(/([\\w.+-]+@[\\w-]+\\.[\\w.]+)/, rawText),\n    contact_phone: extract(/(\\(?\\d{3}\\)?[\\s.-]\\d{3}[\\s.-]\\d{4})/, rawText),\n    service_requested: extract(/(?:service requested|reason for visit)[:\\s]+([^\\n]+)/i, rawText)\n  };\n}\n\n// Remove null values from extracted fields\nextractedFields = Object.fromEntries(Object.entries(extractedFields).filter(([k,v]) => v !== null && v !== undefined && v !== ''));\n\n// ── Step 5: Enforce confidence thresholds ─────────────────────────────\nlet downstreamAction, reviewRequired = false;\nif (label === 'unknown' || confidence < 0.50) {\n  downstreamAction = 'human_review'; reviewRequired = true; doc.flags.push('low_confidence_review');\n} else if (confidence < 0.80) {\n  downstreamAction = 'human_review'; reviewRequired = true; doc.flags.push('moderate_confidence_review');\n} else {\n  downstreamAction = 'auto_process';\n}\nif (label === 'court_document') { downstreamAction = 'escalate'; reviewRequired = true; doc.flags.push('auto_escalated_court_doc'); }\n\nconst year = new Date().getFullYear();\nconst month = String(new Date().getMonth() + 1).padStart(2, '0');\nconst routingDestination = ROUTING_MAP[label] || 'human_review_queue';\nconst filingTarget = label !== 'unknown' ? label + '/' + year + '/' + month : 'unclassified/pending';\n\ndoc.classification_label = label;\ndoc.confidence_score = confidence;\ndoc.routing_destination = routingDestination;\ndoc.filing_target = filingTarget;\ndoc.downstream_action = downstreamAction;\ndoc.review_required = reviewRequired;\ndoc.extracted_fields = extractedFields;\ndoc.classification_result = { label, confidence, routing_destination: routingDestination, filing_target: filingTarget, keyword_match: kwLabel, ai_label: aiLabel, ai_success: aiSuccess };\ndoc.processed_at = new Date().toISOString();\n\nreturn [{ json: { doc, raw_payload: prevData.raw_payload } }];"
      }
    },
    {
      "id": "node_route",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1540,
        180
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.doc.downstream_action }}",
                    "rightValue": "auto_process",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto_process"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.doc.downstream_action }}",
                    "rightValue": "human_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "human_review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.doc.downstream_action }}",
                    "rightValue": "escalate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "escalate"
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "node_auto",
      "name": "Auto Process Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        60
      ],
      "parameters": {
        "jsCode": "const doc = $input.first().json.doc;\nconst raw = $input.first().json.raw_payload;\n// High-confidence auto-process: file it, mark ready for downstream system\nconst year = new Date().getFullYear();\nconst month = String(new Date().getMonth() + 1).padStart(2, '0');\nconst filedPath = (doc.filing_target || doc.classification_label + '/general') + '/' + year + '/' + month;\nreturn [{ json: {\n  doc: { ...doc, processing_status: 'success', filed_path: filedPath },\n  raw_payload: raw,\n  action_taken: 'auto_processed',\n  filed_to: filedPath\n} }];"
      }
    },
    {
      "id": "node_review",
      "name": "Human Review Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1760,
        210
      ],
      "parameters": {
        "sendTo": "qadautomation@gmail.com",
        "subject": "={{ '[Review Required] ' + $json.doc.classification_label.toUpperCase() + ' — ' + $json.doc.file_name }}",
        "emailType": "html",
        "message": "={{ '<h2>Document Review Required</h2><table style=\"border-collapse:collapse;width:100%\"><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Document ID</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.document_id + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>File</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.file_name + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Classified As</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.classification_label + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Confidence</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.confidence_score * 100).toFixed(0) + '%</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Route To</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.routing_destination || 'human_review_queue') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Sender</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.sender || 'N/A') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Summary</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + (($json.doc.classification_result || {}).summary || 'N/A') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Extracted Fields</b></td><td style=\"padding:6px;border:1px solid #ddd\"><pre>' + JSON.stringify($json.doc.extracted_fields || {}, null, 2) + '</pre></td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Flags</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.flags || []).join(', ') + '</td></tr></table><p>Please review and take action in the dashboard.</p>' }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "bHMHyGqUtDInnHet",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "webhookId": "fb8a0569-47c1-42be-ae2c-4d010a8b4d03"
    },
    {
      "id": "node_escalate",
      "name": "Escalate Document",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1760,
        360
      ],
      "parameters": {
        "sendTo": "qadautomation@gmail.com",
        "subject": "={{ '[ESCALATION] ' + $json.doc.classification_label.toUpperCase() + ' — ' + $json.doc.file_name }}",
        "emailType": "html",
        "message": "={{ '<h2 style=\"color:red\">Document Escalation Required</h2><p>This document has been automatically escalated and requires immediate attention.</p><table style=\"border-collapse:collapse;width:100%\"><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Document ID</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.document_id + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>File</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.file_name + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Type</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.classification_label + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Routing To</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.routing_destination || 'legal_urgent') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Flags</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.flags || []).join(', ') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Extracted Fields</b></td><td style=\"padding:6px;border:1px solid #ddd\"><pre>' + JSON.stringify($json.doc.extracted_fields || {}, null, 2) + '</pre></td></tr></table>' }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "bHMHyGqUtDInnHet",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true,
      "webhookId": "0b2c582f-35f4-4538-ada4-3e3dc4d48301"
    },
    {
      "id": "node_archive",
      "name": "Archive Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        510
      ],
      "parameters": {
        "jsCode": "const doc = $input.first().json.doc;\nconst raw = $input.first().json.raw_payload;\nreturn [{ json: {\n  doc: { ...doc, processing_status: 'success' },\n  raw_payload: raw,\n  action_taken: 'archived',\n  filed_to: 'archive/' + (doc.classification_label || 'unknown') + '/' + new Date().getFullYear()\n} }];"
      }
    },
    {
      "id": "node_prep_log",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "const scored = $('Parse & Route').first().json;\nconst doc = scored.doc || {};\nconst raw = scored.raw_payload || {};\nconst processingStatus = doc.processing_status === 'processing'\n  ? (doc.review_required ? 'pending_review' : 'success')\n  : (doc.processing_status || 'success');\n\nreturn [{\n  json: {\n    document_id: doc.document_id || 'unknown',\n    execution_id: doc.execution_id || null,\n    workflow_version: doc.workflow_version || 'document_intake_v1',\n    client_id: doc.client_id || 'default',\n    source_type: doc.source_type || null,\n    source_channel: doc.source_channel || null,\n    sender: doc.sender || null,\n    subject: doc.subject || null,\n    file_name: doc.file_name || null,\n    file_type: doc.file_type || null,\n    mime_type: doc.mime_type || null,\n    file_size: doc.file_size || null,\n    document_text: doc.document_text ? doc.document_text.substring(0, 5000) : null,\n    raw_payload: JSON.stringify(raw),\n    normalized_payload: JSON.stringify(doc),\n    validation_passed: doc.validation_passed || false,\n    validation_errors: JSON.stringify(doc.validation_errors || []),\n    classification_label: doc.classification_label || null,\n    confidence_score: doc.confidence_score || 0,\n    classification_result: JSON.stringify(doc.classification_result || {}),\n    extracted_fields: JSON.stringify(doc.extracted_fields || {}),\n    filing_target: doc.filing_target || null,\n    routing_destination: doc.routing_destination || null,\n    downstream_action: doc.downstream_action || null,\n    review_required: doc.review_required || false,\n    processing_status: processingStatus,\n    ai_model_used: doc.ai_model_used || null,\n    ai_model_source: doc.ai_model_source || 'none',\n    ai_response_time_ms: doc.ai_response_time_ms || 0,\n    ai_fallback_used: doc.ai_fallback_used || false,\n    error_message: doc.error_message || null,\n    received_at: doc.received_at || new Date().toISOString(),\n    processed_at: doc.processed_at || new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node_log_postgres",
      "name": "Log to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_log (\n  document_id, execution_id, workflow_version, client_id,\n  source_type, source_channel, sender, subject,\n  file_name, file_type, mime_type, file_size,\n  document_text, raw_payload, normalized_payload,\n  validation_passed, validation_errors,\n  classification_label, confidence_score, classification_result,\n  extracted_fields, filing_target, downstream_action,\n  review_required, processing_status,\n  ai_model_used, ai_model_source, ai_response_time_ms, ai_fallback_used,\n  error_message, received_at, processed_at\n) VALUES (\n  '{{ $json.document_id }}',\n  {{ $json.execution_id ? \"'\" + $json.execution_id + \"'\" : 'NULL' }},\n  '{{ $json.workflow_version }}',\n  '{{ $json.client_id }}',\n  {{ $json.source_type ? \"'\" + $json.source_type + \"'\" : 'NULL' }},\n  {{ $json.source_channel ? \"'\" + $json.source_channel + \"'\" : 'NULL' }},\n  {{ $json.sender ? \"'\" + $json.sender.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.subject ? \"'\" + $json.subject.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.file_name ? \"'\" + $json.file_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.file_type ? \"'\" + $json.file_type + \"'\" : 'NULL' }},\n  {{ $json.mime_type ? \"'\" + $json.mime_type + \"'\" : 'NULL' }},\n  {{ $json.file_size || 'NULL' }},\n  {{ $json.document_text ? \"'\" + $json.document_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.raw_payload.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.normalized_payload.replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.validation_passed }},\n  '{{ $json.validation_errors }}'::jsonb,\n  {{ $json.classification_label ? \"'\" + $json.classification_label + \"'\" : 'NULL' }},\n  {{ $json.confidence_score || 0 }},\n  '{{ $json.classification_result.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.extracted_fields.replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.filing_target ? \"'\" + $json.filing_target.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.downstream_action ? \"'\" + $json.downstream_action + \"'\" : 'NULL' }},\n  {{ $json.review_required }},\n  {{ $json.processing_status ? \"'\" + $json.processing_status + \"'\" : 'NULL' }},\n  {{ $json.ai_model_used ? \"'\" + $json.ai_model_used + \"'\" : 'NULL' }},\n  '{{ $json.ai_model_source }}',\n  {{ $json.ai_response_time_ms || 0 }},\n  {{ $json.ai_fallback_used }},\n  {{ $json.error_message ? \"'\" + $json.error_message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.received_at }}',\n  '{{ $json.processed_at }}'\n)\nON CONFLICT (document_id) DO NOTHING\nRETURNING document_id, classification_label, downstream_action;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "MMScP2tKEgzvhkYM",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node_respond",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const d = $('Prepare Log Data').first().json; return { status: \"success\", document_id: d.document_id, classification_label: d.classification_label, confidence_score: d.confidence_score, routing_destination: d.routing_destination, filing_target: d.filing_target, downstream_action: d.downstream_action, review_required: d.review_required, processing_status: d.processing_status, extracted_fields: JSON.parse(d.extracted_fields || '{}'), ai_fallback_used: d.ai_fallback_used, processed_at: d.processed_at }; })() }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node_fail_respond",
      "name": "Validation Fail Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: \"error\", error_type: \"validation\", errors: $json.doc.validation_errors, document_id: $json.doc.document_id } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "node_fail_log",
      "name": "Log Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        560
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_log (document_id, execution_id, workflow_version, client_id, source_type, file_name, file_type, raw_payload, normalized_payload, validation_passed, validation_errors, processing_status, received_at, processed_at) VALUES ('{{ $json.doc.document_id }}', {{ $json.doc.execution_id ? \"'\" + $json.doc.execution_id + \"'\" : 'NULL' }}, 'document_intake_v1', '{{ $json.doc.client_id }}', {{ $json.doc.source_type ? \"'\" + $json.doc.source_type + \"'\" : 'NULL' }}, {{ $json.doc.file_name ? \"'\" + $json.doc.file_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.doc.file_type ? \"'\" + $json.doc.file_type + \"'\" : 'NULL' }}, '{{ JSON.stringify($json.raw_payload).replace(/'/g, \"''\") }}'::jsonb, '{{ JSON.stringify($json.doc).replace(/'/g, \"''\") }}'::jsonb, false, '{{ JSON.stringify($json.doc.validation_errors) }}'::jsonb, 'failed', '{{ $json.doc.received_at }}', NOW()) ON CONFLICT (document_id) DO NOTHING;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "MMScP2tKEgzvhkYM",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node_error_catch",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {}
    },
    {
      "id": "node_error_log",
      "name": "Log Workflow Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (execution_id, workflow_id, error_type, error_message, failed_at, retry_count, resolved) VALUES ('{{ $json.execution.id }}', 'document_intake_v1', 'fatal', '{{ ($json.error.message || 'Unknown error').replace(/'/g, \"''\") }}', NOW(), 0, false);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "MMScP2tKEgzvhkYM",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Document Webhook": {
      "main": [
        [
          {
            "node": "Normalize Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Document": {
      "main": [
        [
          {
            "node": "Validate Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Document": {
      "main": [
        [
          {
            "node": "Validation Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Gate": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Fail Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Ollama Classify & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Classify & Extract": {
      "main": [
        [
          {
            "node": "Parse & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Route": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Auto Process Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Human Review Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Process Document": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Review Alert": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Document": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Document": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to PostgreSQL": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
  "activeVersionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
  "versionCounter": 18,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-09T22:26:34.544Z",
      "createdAt": "2026-05-09T22:26:34.544Z",
      "role": "workflow:owner",
      "workflowId": "riCozLIp9vwM1mjt",
      "projectId": "JoreHGuW1LeJlJ1H",
      "project": {
        "updatedAt": "2026-05-09T02:54:50.805Z",
        "createdAt": "2026-05-09T02:42:23.471Z",
        "id": "JoreHGuW1LeJlJ1H",
        "name": "Alan Coronado <qadautomation@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57aa1325-f836-4f8b-a964-640862e141f6"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-09T23:01:43.977Z",
    "createdAt": "2026-05-09T23:01:43.977Z",
    "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
    "workflowId": "riCozLIp9vwM1mjt",
    "nodes": [
      {
        "id": "node_webhook",
        "name": "Document Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "document-intake",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "d0e853e3-1673-4b6b-a9b1-ac121a6aa6ac"
      },
      {
        "id": "node_normalize",
        "name": "Normalize Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "const raw = $input.first().json.body || $input.first().json;\nconst now = new Date().toISOString();\nconst documentId = 'doc_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nconst executionId = $execution?.id || 'exec_' + Date.now();\n\nconst sourceType = raw.source_type || (raw.sender ? 'email' : raw.upload_session ? 'upload' : 'webhook');\nconst rawFileName = raw.file_name || null;\nconst rawFileType = raw.file_type || (rawFileName ? rawFileName.split('.').pop().toLowerCase() : null);\n\nconst doc = {\n  document_id: documentId,\n  execution_id: executionId,\n  workflow_version: 'document_intake_v1',\n  client_id: raw.client_id || 'default',\n  source_type: sourceType,\n  source_channel: raw.source_channel || null,\n  sender: raw.sender || null,\n  subject: raw.subject || null,\n  file_name: rawFileName,\n  file_type: rawFileType,\n  mime_type: raw.mime_type || null,\n  file_size: raw.file_size || null,\n  file_content_base64: raw.file_content_base64 || null,\n  document_text: raw.document_text || null,\n  document_class_hint: raw.document_class_hint || null,\n  metadata: raw.metadata || {},\n  received_at: now,\n  processed_at: null,\n  validation_passed: null,\n  validation_errors: [],\n  classification_label: null,\n  confidence_score: 0,\n  extracted_fields: {},\n  routing_destination: null,\n  filing_target: null,\n  downstream_action: null,\n  review_required: false,\n  processing_status: 'processing',\n  ai_model_used: null,\n  ai_model_source: null,\n  ai_response_time_ms: 0,\n  ai_fallback_used: false,\n  error_message: null,\n  flags: []\n};\n\nreturn [{ json: { doc, raw_payload: raw } }];"
        }
      },
      {
        "id": "node_validate",
        "name": "Validate Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst doc = { ...data.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\nconst errors = [];\n\nif (!doc.file_name) errors.push('file_name is required');\n\nconst allowedTypes = ['pdf','png','jpg','jpeg','tiff','tif','docx','doc','txt','heic','xlsx','csv'];\nif (doc.file_type && !allowedTypes.includes(doc.file_type.toLowerCase())) {\n  errors.push('Unsupported file type: ' + doc.file_type);\n}\nif (doc.file_size && doc.file_size > 52428800) {\n  errors.push('File exceeds 50MB limit');\n}\nif (!doc.document_text && !doc.file_content_base64) {\n  doc.flags.push('no_content_provided');\n  doc.flags.push('content_missing_may_need_ocr');\n}\nif (doc.document_text && doc.document_text.trim().length < 10) {\n  doc.flags.push('very_short_text');\n}\n\nif (errors.length > 0) {\n  doc.validation_passed = false;\n  doc.validation_errors = errors;\n  doc.processing_status = 'failed';\n  doc.downstream_action = 'reject';\n} else {\n  doc.validation_passed = true;\n}\n\nreturn [{ json: { doc, raw_payload: data.raw_payload } }];"
        }
      },
      {
        "id": "node_validation_gate",
        "name": "Validation Gate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.doc.validation_passed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node_extract_text",
        "name": "Extract Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          180
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst doc = { ...data.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\n\nif (doc.document_text && doc.document_text.trim().length > 10) {\n  doc.flags.push('text_provided_directly');\n  return [{ json: { doc, raw_payload: data.raw_payload } }];\n}\n\nif (doc.file_content_base64) {\n  try {\n    const decoded = Buffer.from(doc.file_content_base64, 'base64').toString('utf-8');\n    const printable = decoded.replace(/[\\x00-\\x08\\x0e-\\x1f\\x7f-\\x9f]/g, '');\n    const ratio = printable.length / Math.max(decoded.length, 1);\n    if (ratio > 0.85 && printable.length > 20) {\n      doc.document_text = printable.substring(0, 8000);\n      doc.flags.push('text_extracted_from_content');\n    } else {\n      doc.flags.push('binary_content_ocr_needed');\n      doc.document_text = '[Binary content — OCR required]';\n    }\n  } catch(e) {\n    doc.flags.push('text_extraction_failed');\n    doc.document_text = '[Text extraction failed]';\n  }\n} else {\n  doc.document_text = '[No content — classification from metadata only]';\n  doc.flags.push('metadata_only_classification');\n}\n\nreturn [{ json: { doc, raw_payload: data.raw_payload } }];"
        }
      },
      {
        "id": "node_ollama",
        "name": "Ollama Classify & Extract",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          180
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:11434/api/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Classify this document into exactly one category. Read the document carefully before deciding.\\n\\nDOCUMENT:\\nFilename: {{ $json.doc.file_name }}\\nSender: {{ $json.doc.sender }}\\nSubject: {{ $json.doc.subject }}\\n{{ ($json.doc.document_text || '').substring(0, 2000) }}\\n\\nDECISION RULES — match the FIRST rule that applies to the document content:\\n- Contains 'INVOICE', 'Invoice Number', 'Amount Due', 'Bill To', 'INV-' → invoice\\n- Contains 'REFERRAL', 'Patient', 'Diagnosis Code', 'NPI', 'Referring Physician' → referral\\n- Contains 'NON-DISCLOSURE', 'NDA', 'AGREEMENT', 'shall not disclose', 'confidentiality' → contract\\n- Contains 'RECEIPT', 'Transaction', 'Total Paid', 'Purchase' → receipt\\n- Contains 'INTAKE', 'Client Intake', 'Patient Intake', 'service requested' → intake_form\\n- Contains 'COURT', 'CASE NO', 'PLAINTIFF', 'DEFENDANT', 'MOTION', 'ORDER' → court_document\\n- Contains 'LICENSE', 'PASSPORT', 'DRIVERS LICENSE', 'Date of Expiry' → id_document\\n- Contains 'W-2', '1099', 'TAX RETURN', 'FORM 1040', 'TAXABLE INCOME' → tax_document\\n- Contains 'PURCHASE AGREEMENT', 'ESCROW', 'REAL ESTATE', 'CLOSING' → real_estate\\n- Contains 'Dear', 'Sincerely', 'To Whom It May Concern', 'RE:' → correspondence\\n- None of the above → unknown\\n\\nReturn ONLY this JSON (no explanation, no markdown):\\n{\\\"classification_label\\\": \\\"invoice\\\", \\\"confidence\\\": 0.95, \\\"reasoning\\\": \\\"one sentence\\\"}\",\n  \"stream\": false,\n  \"format\": \"json\"\n}",
          "options": {
            "timeout": 60000
          }
        },
        "continueOnFail": true
      },
      {
        "id": "node_parse",
        "name": "Parse & Route",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          180
        ],
        "parameters": {
          "jsCode": "const ollamaData = $input.first().json;\nconst prevData = $('Validation Gate').first().json;\nconst doc = { ...prevData.doc };\ndoc.flags = Array.isArray(doc.flags) ? [...doc.flags] : [];\n\ntry {\n  const extracted = $('Extract Text').first().json;\n  if (extracted && extracted.doc) {\n    doc.document_text = extracted.doc.document_text || doc.document_text;\n    doc.flags = [...new Set([...doc.flags, ...(extracted.doc.flags || [])])];\n  }\n} catch(e) {}\n\nconst rawText = doc.document_text || '';\nconst searchText = (rawText + ' ' + (doc.file_name || '') + ' ' + (doc.subject || '') + ' ' + (doc.sender || '')).toLowerCase();\n\nconst VALID_LABELS = ['invoice','contract','intake_form','referral','receipt','court_document','id_document','tax_document','real_estate','correspondence','unknown'];\nconst ROUTING_MAP = { invoice:'accounts_payable', contract:'legal_review', intake_form:'client_services', referral:'patient_intake', receipt:'expense_management', court_document:'legal_urgent', id_document:'compliance', tax_document:'finance_team', real_estate:'transactions', correspondence:'general_inbox', unknown:'human_review_queue' };\n\n// ── Step 1: Keyword-based classification (deterministic, instant) ──────\nfunction keywordClassify(t) {\n  if (/\\b(invoice|inv-|amount due|bill to|invoice number|vendor invoice|billed by|remittance|payable to)\\b/.test(t)) return 'invoice';\n  if (/\\b(patient referral|referring physician|npi:|diagnosis code|diagnosis:|referral to|authorization number|auth-)\\b/.test(t)) return 'referral';\n  if (/\\b(non-disclosure|nda\\b|this agreement|shall not disclose|confidential information|governing law|party a|party b)\\b/.test(t)) return 'contract';\n  if (/\\b(receipt|total paid|merchant:|transaction date|payment method:|purchase receipt)\\b/.test(t)) return 'receipt';\n  if (/\\b(intake form|client intake|patient intake|service requested:|reason for visit|chief complaint)\\b/.test(t)) return 'intake_form';\n  if (/\\b(case no|case number|plaintiff|defendant|in the court|motion for|order of|judicial)\\b/.test(t)) return 'court_document';\n  if (/\\b(passport|driver.?s license|state id|license no|document no|date of expiry|issuing authority)\\b/.test(t)) return 'id_document';\n  if (/\\b(w-?2\\b|1099-|form 1040|tax return|taxable income|tax year|irs|wages and tips)\\b/.test(t)) return 'tax_document';\n  if (/\\b(purchase agreement|real estate|escrow|closing date|property address|buyer:|seller:|title insurance)\\b/.test(t)) return 'real_estate';\n  if (/\\b(dear |to whom it may concern|sincerely,|memorandum|re: |per our discussion)\\b/.test(t)) return 'correspondence';\n  return null;\n}\n\nconst kwLabel = keywordClassify(searchText);\nconst hintLabel = VALID_LABELS.includes((doc.document_class_hint || '').toLowerCase()) ? doc.document_class_hint.toLowerCase() : null;\n\n// ── Step 2: AI classification ──────────────────────────────────────────\nconst ollamaRaw = ollamaData.response || null;\nlet aiLabel = null, aiSuccess = false;\n\ntry {\n  if (!ollamaRaw || ollamaData.error) throw new Error('Ollama unavailable');\n  const parsed = typeof ollamaRaw === 'string' ? JSON.parse(ollamaRaw) : ollamaRaw;\n  const rawLabel = (parsed.classification_label || '').toLowerCase().trim().replace(/[^a-z_]/g, '');\n  aiLabel = VALID_LABELS.includes(rawLabel) ? rawLabel : null;\n  doc.ai_model_used = 'llama3.2';\n  doc.ai_model_source = 'ollama_local';\n  doc.ai_fallback_used = false;\n  aiSuccess = true;\n} catch(e) {\n  doc.ai_model_used = null;\n  doc.ai_model_source = 'fallback';\n  doc.ai_fallback_used = true;\n  doc.flags.push('ai_fallback_triggered');\n}\n\n// ── Step 3: Consensus confidence scoring ──────────────────────────────\n// Keywords are deterministic and trusted. AI is a second opinion.\n// Agreement = high confidence. Keyword only = moderate. AI only = low.\nlet label, confidence;\n\nif (kwLabel && aiLabel && kwLabel === aiLabel) {\n  label = kwLabel; confidence = 0.92;  // full consensus\n  doc.flags.push('consensus_high_confidence');\n} else if (kwLabel && aiLabel && kwLabel !== aiLabel) {\n  label = kwLabel; confidence = 0.65;  // keyword wins, flag disagreement\n  doc.flags.push('ai_keyword_disagreement');\n} else if (kwLabel && !aiLabel) {\n  label = kwLabel; confidence = 0.75;  // keyword only (AI unavailable or null)\n  doc.flags.push('keyword_classification_only');\n} else if (!kwLabel && aiLabel && aiLabel !== 'unknown') {\n  label = aiLabel; confidence = 0.55;  // AI only, low confidence\n  doc.flags.push('ai_classification_only');\n} else if (hintLabel) {\n  label = hintLabel; confidence = 0.45;  // hint fallback\n  doc.flags.push('hint_used');\n} else {\n  label = 'unknown'; confidence = 0;\n  doc.flags.push('unclassified');\n}\n\n// ── Step 4: Code-based field extraction ────────────────────────────────\nfunction extract(pattern, src, group) {\n  try { const m = (src || '').match(pattern); return m ? (m[group || 1] || '').trim() || null : null; } catch(e) { return null; }\n}\n\nlet extractedFields = {};\n\nif (label === 'invoice') {\n  extractedFields = {\n    invoice_number: extract(/(?:invoice\\s*(?:number|#|no\\.?)|INV[-#])\\s*([\\w-]+)/i, rawText),\n    vendor_name: extract(/(?:^|\\n)([A-Z][A-Za-z\\s]+(?:LLC|Inc\\.?|Corp\\.?|Co\\.?|Ltd\\.?))\\s*\\n/m, rawText),\n    invoice_date: extract(/(?:invoice date|date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4})/i, rawText),\n    due_date: extract(/due\\s*(?:date|by|on)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4}|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4})/i, rawText),\n    total_amount: extract(/(?:total(?: due| amount)?|amount due|grand total|balance due)[:\\s]*\\$?([\\d,]+\\.\\d{2})/i, rawText),\n    currency: extract(/\\b(USD|EUR|GBP|CAD|AUD)\\b/, rawText) || 'USD',\n    payment_terms: extract(/payment terms[:\\s]+([\\w\\s]+?)(?:\\n|$)/i, rawText)\n  };\n} else if (label === 'referral') {\n  extractedFields = {\n    patient_name: extract(/patient\\s+name\\s*:\\s*([A-Za-z]+(?:[ \\t]+[A-Za-z]+)*)/i, rawText),\n    date_of_birth: extract(/(?:date of birth|dob)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/i, rawText),\n    referring_physician: extract(/referring\\s*(?:physician|doctor|provider)[:\\s]+(?:Dr\\.?\\s+)?([A-Za-z]+\\s+[A-Za-z]+(?:,\\s*M\\.?D\\.?)?)/i, rawText),\n    npi: extract(/NPI[:\\s#]+([0-9]{10})/i, rawText),\n    diagnosis_code: extract(/(?:ICD|diagnosis\\s*code)[:\\s]+([A-Z]\\d{2,3}(?:\\.\\d+)?)/i, rawText),\n    diagnosis_description: extract(/(?:diagnosis|condition|impression)[:\\s]+([A-Za-z][\\w\\s,]+?)(?:\\n|$)/i, rawText),\n    authorization_number: extract(/(?:auth(?:orization)?\\s*(?:number|#|no)[:\\s]+)([\\w-]+)/i, rawText),\n    urgency: extract(/urgency[:\\s]+([\\w]+)/i, rawText) || 'routine'\n  };\n} else if (label === 'contract') {\n  extractedFields = {\n    contract_type: extract(/^(NON-DISCLOSURE AGREEMENT|NDA|SERVICE AGREEMENT|PURCHASE AGREEMENT|CONSULTING AGREEMENT|EMPLOYMENT AGREEMENT|PARTNERSHIP AGREEMENT)/im, rawText),\n    effective_date: extract(/(?:effective|entered into|dated?)\\s+(?:as of\\s+)?([A-Za-z]+\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    governing_law: extract(/governing\\s*law[:\\s]+(?:laws? of the State of\\s+)?([A-Za-z]+)/i, rawText),\n    term: extract(/(\\d+)\\s+years?\\s+(?:from|term|agreement)/i, rawText)\n  };\n} else if (label === 'receipt') {\n  extractedFields = {\n    merchant_name: extract(/^([A-Z][\\w\\s&]+)\\s*\\n/m, rawText),\n    transaction_date: extract(/(?:date|transaction date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    total_amount: extract(/(?:total|amount)[:\\s]*\\$?([\\d,]+\\.\\d{2})/i, rawText),\n    currency: extract(/\\b(USD|EUR|GBP|CAD|AUD)\\b/, rawText) || 'USD',\n    payment_method: extract(/(?:paid by|payment method|card type)[:\\s]+([\\w\\s]+?)(?:\\n|$)/i, rawText)\n  };\n} else if (label === 'court_document') {\n  extractedFields = {\n    case_number: extract(/(?:case\\s*(?:no|number|#))[:\\s]+([\\w-]+)/i, rawText),\n    court_name: extract(/(?:in the|before the)?\\s*(\\w+ court[\\w\\s]*)(?:\\n|$)/i, rawText),\n    filing_date: extract(/(?:filed|filing date)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText),\n    document_type: extract(/^(MOTION|ORDER|COMPLAINT|SUMMONS|JUDGMENT|NOTICE|PETITION|SUBPOENA)/im, rawText)\n  };\n} else if (label === 'tax_document') {\n  extractedFields = {\n    form_type: extract(/\\b(W-?2|1099-?[A-Z]*|1040|1065|1120|990)\\b/i, rawText),\n    tax_year: extract(/(?:tax year|year)[:\\s]+(\\d{4})|\\b(20\\d{2})\\b/, rawText),\n    taxpayer_name: extract(/(?:employee|taxpayer)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText)\n  };\n} else if (label === 'real_estate') {\n  extractedFields = {\n    property_address: extract(/(?:property address|premises|located at|property:)[:\\s]+([\\d][\\w\\s,\\.]+?)(?:\\n|$)/i, rawText),\n    purchase_price: extract(/(?:purchase price|sale price|agreed price)[:\\s]*\\$?([\\d,]+(?:\\.\\d{2})?)/i, rawText),\n    closing_date: extract(/(?:closing date|close of escrow)[:\\s]+([A-Za-z]+\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText)\n  };\n} else if (label === 'id_document') {\n  extractedFields = {\n    id_type: extract(/\\b(PASSPORT|DRIVER.?S LICENSE|STATE ID|NATIONAL ID)\\b/i, rawText),\n    id_number: extract(/(?:license no|id no|document no|number)[:\\s]+([A-Z0-9]+)/i, rawText),\n    full_name: extract(/(?:name|holder)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText),\n    expiry_date: extract(/(?:expiry|expires|valid through|valid until)[:\\s]+(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/i, rawText)\n  };\n} else if (label === 'correspondence') {\n  extractedFields = {\n    document_date: extract(/^((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\.?\\s+\\d{1,2},?\\s+\\d{4}|\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/im, rawText),\n    subject: doc.subject || extract(/(?:re|subject)[:\\s]+([^\\n]+)/i, rawText)\n  };\n} else if (label === 'intake_form') {\n  extractedFields = {\n    client_name: extract(/(?:name|client name|patient name)[:\\s]+([A-Za-z]+\\s+[A-Za-z]+)/i, rawText),\n    contact_email: extract(/([\\w.+-]+@[\\w-]+\\.[\\w.]+)/, rawText),\n    contact_phone: extract(/(\\(?\\d{3}\\)?[\\s.-]\\d{3}[\\s.-]\\d{4})/, rawText),\n    service_requested: extract(/(?:service requested|reason for visit)[:\\s]+([^\\n]+)/i, rawText)\n  };\n}\n\n// Remove null values from extracted fields\nextractedFields = Object.fromEntries(Object.entries(extractedFields).filter(([k,v]) => v !== null && v !== undefined && v !== ''));\n\n// ── Step 5: Enforce confidence thresholds ─────────────────────────────\nlet downstreamAction, reviewRequired = false;\nif (label === 'unknown' || confidence < 0.50) {\n  downstreamAction = 'human_review'; reviewRequired = true; doc.flags.push('low_confidence_review');\n} else if (confidence < 0.80) {\n  downstreamAction = 'human_review'; reviewRequired = true; doc.flags.push('moderate_confidence_review');\n} else {\n  downstreamAction = 'auto_process';\n}\nif (label === 'court_document') { downstreamAction = 'escalate'; reviewRequired = true; doc.flags.push('auto_escalated_court_doc'); }\n\nconst year = new Date().getFullYear();\nconst month = String(new Date().getMonth() + 1).padStart(2, '0');\nconst routingDestination = ROUTING_MAP[label] || 'human_review_queue';\nconst filingTarget = label !== 'unknown' ? label + '/' + year + '/' + month : 'unclassified/pending';\n\ndoc.classification_label = label;\ndoc.confidence_score = confidence;\ndoc.routing_destination = routingDestination;\ndoc.filing_target = filingTarget;\ndoc.downstream_action = downstreamAction;\ndoc.review_required = reviewRequired;\ndoc.extracted_fields = extractedFields;\ndoc.classification_result = { label, confidence, routing_destination: routingDestination, filing_target: filingTarget, keyword_match: kwLabel, ai_label: aiLabel, ai_success: aiSuccess };\ndoc.processed_at = new Date().toISOString();\n\nreturn [{ json: { doc, raw_payload: prevData.raw_payload } }];"
        }
      },
      {
        "id": "node_route",
        "name": "Route by Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1540,
          180
        ],
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.doc.downstream_action }}",
                      "rightValue": "auto_process",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "auto_process"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.doc.downstream_action }}",
                      "rightValue": "human_review",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "human_review"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.doc.downstream_action }}",
                      "rightValue": "escalate",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "escalate"
              }
            ]
          },
          "fallbackOutput": "extra"
        }
      },
      {
        "id": "node_auto",
        "name": "Auto Process Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          60
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json.doc;\nconst raw = $input.first().json.raw_payload;\n// High-confidence auto-process: file it, mark ready for downstream system\nconst year = new Date().getFullYear();\nconst month = String(new Date().getMonth() + 1).padStart(2, '0');\nconst filedPath = (doc.filing_target || doc.classification_label + '/general') + '/' + year + '/' + month;\nreturn [{ json: {\n  doc: { ...doc, processing_status: 'success', filed_path: filedPath },\n  raw_payload: raw,\n  action_taken: 'auto_processed',\n  filed_to: filedPath\n} }];"
        }
      },
      {
        "id": "node_review",
        "name": "Human Review Alert",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          1760,
          210
        ],
        "parameters": {
          "sendTo": "qadautomation@gmail.com",
          "subject": "={{ '[Review Required] ' + $json.doc.classification_label.toUpperCase() + ' — ' + $json.doc.file_name }}",
          "emailType": "html",
          "message": "={{ '<h2>Document Review Required</h2><table style=\"border-collapse:collapse;width:100%\"><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Document ID</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.document_id + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>File</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.file_name + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Classified As</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.classification_label + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Confidence</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.confidence_score * 100).toFixed(0) + '%</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Route To</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.routing_destination || 'human_review_queue') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Sender</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.sender || 'N/A') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Summary</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + (($json.doc.classification_result || {}).summary || 'N/A') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Extracted Fields</b></td><td style=\"padding:6px;border:1px solid #ddd\"><pre>' + JSON.stringify($json.doc.extracted_fields || {}, null, 2) + '</pre></td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Flags</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.flags || []).join(', ') + '</td></tr></table><p>Please review and take action in the dashboard.</p>' }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "bHMHyGqUtDInnHet",
            "name": "Gmail account"
          }
        },
        "continueOnFail": true,
        "webhookId": "fb8a0569-47c1-42be-ae2c-4d010a8b4d03"
      },
      {
        "id": "node_escalate",
        "name": "Escalate Document",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          1760,
          360
        ],
        "parameters": {
          "sendTo": "qadautomation@gmail.com",
          "subject": "={{ '[ESCALATION] ' + $json.doc.classification_label.toUpperCase() + ' — ' + $json.doc.file_name }}",
          "emailType": "html",
          "message": "={{ '<h2 style=\"color:red\">Document Escalation Required</h2><p>This document has been automatically escalated and requires immediate attention.</p><table style=\"border-collapse:collapse;width:100%\"><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Document ID</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.document_id + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>File</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.file_name + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Type</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + $json.doc.classification_label + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Routing To</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.routing_destination || 'legal_urgent') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Flags</b></td><td style=\"padding:6px;border:1px solid #ddd\">' + ($json.doc.flags || []).join(', ') + '</td></tr><tr><td style=\"padding:6px;border:1px solid #ddd\"><b>Extracted Fields</b></td><td style=\"padding:6px;border:1px solid #ddd\"><pre>' + JSON.stringify($json.doc.extracted_fields || {}, null, 2) + '</pre></td></tr></table>' }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "bHMHyGqUtDInnHet",
            "name": "Gmail account"
          }
        },
        "continueOnFail": true,
        "webhookId": "0b2c582f-35f4-4538-ada4-3e3dc4d48301"
      },
      {
        "id": "node_archive",
        "name": "Archive Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          510
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json.doc;\nconst raw = $input.first().json.raw_payload;\nreturn [{ json: {\n  doc: { ...doc, processing_status: 'success' },\n  raw_payload: raw,\n  action_taken: 'archived',\n  filed_to: 'archive/' + (doc.classification_label || 'unknown') + '/' + new Date().getFullYear()\n} }];"
        }
      },
      {
        "id": "node_prep_log",
        "name": "Prepare Log Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          300
        ],
        "parameters": {
          "jsCode": "const scored = $('Parse & Route').first().json;\nconst doc = scored.doc || {};\nconst raw = scored.raw_payload || {};\nconst processingStatus = doc.processing_status === 'processing'\n  ? (doc.review_required ? 'pending_review' : 'success')\n  : (doc.processing_status || 'success');\n\nreturn [{\n  json: {\n    document_id: doc.document_id || 'unknown',\n    execution_id: doc.execution_id || null,\n    workflow_version: doc.workflow_version || 'document_intake_v1',\n    client_id: doc.client_id || 'default',\n    source_type: doc.source_type || null,\n    source_channel: doc.source_channel || null,\n    sender: doc.sender || null,\n    subject: doc.subject || null,\n    file_name: doc.file_name || null,\n    file_type: doc.file_type || null,\n    mime_type: doc.mime_type || null,\n    file_size: doc.file_size || null,\n    document_text: doc.document_text ? doc.document_text.substring(0, 5000) : null,\n    raw_payload: JSON.stringify(raw),\n    normalized_payload: JSON.stringify(doc),\n    validation_passed: doc.validation_passed || false,\n    validation_errors: JSON.stringify(doc.validation_errors || []),\n    classification_label: doc.classification_label || null,\n    confidence_score: doc.confidence_score || 0,\n    classification_result: JSON.stringify(doc.classification_result || {}),\n    extracted_fields: JSON.stringify(doc.extracted_fields || {}),\n    filing_target: doc.filing_target || null,\n    routing_destination: doc.routing_destination || null,\n    downstream_action: doc.downstream_action || null,\n    review_required: doc.review_required || false,\n    processing_status: processingStatus,\n    ai_model_used: doc.ai_model_used || null,\n    ai_model_source: doc.ai_model_source || 'none',\n    ai_response_time_ms: doc.ai_response_time_ms || 0,\n    ai_fallback_used: doc.ai_fallback_used || false,\n    error_message: doc.error_message || null,\n    received_at: doc.received_at || new Date().toISOString(),\n    processed_at: doc.processed_at || new Date().toISOString()\n  }\n}];"
        }
      },
      {
        "id": "node_log_postgres",
        "name": "Log to PostgreSQL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2220,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO document_log (\n  document_id, execution_id, workflow_version, client_id,\n  source_type, source_channel, sender, subject,\n  file_name, file_type, mime_type, file_size,\n  document_text, raw_payload, normalized_payload,\n  validation_passed, validation_errors,\n  classification_label, confidence_score, classification_result,\n  extracted_fields, filing_target, downstream_action,\n  review_required, processing_status,\n  ai_model_used, ai_model_source, ai_response_time_ms, ai_fallback_used,\n  error_message, received_at, processed_at\n) VALUES (\n  '{{ $json.document_id }}',\n  {{ $json.execution_id ? \"'\" + $json.execution_id + \"'\" : 'NULL' }},\n  '{{ $json.workflow_version }}',\n  '{{ $json.client_id }}',\n  {{ $json.source_type ? \"'\" + $json.source_type + \"'\" : 'NULL' }},\n  {{ $json.source_channel ? \"'\" + $json.source_channel + \"'\" : 'NULL' }},\n  {{ $json.sender ? \"'\" + $json.sender.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.subject ? \"'\" + $json.subject.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.file_name ? \"'\" + $json.file_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.file_type ? \"'\" + $json.file_type + \"'\" : 'NULL' }},\n  {{ $json.mime_type ? \"'\" + $json.mime_type + \"'\" : 'NULL' }},\n  {{ $json.file_size || 'NULL' }},\n  {{ $json.document_text ? \"'\" + $json.document_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.raw_payload.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.normalized_payload.replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.validation_passed }},\n  '{{ $json.validation_errors }}'::jsonb,\n  {{ $json.classification_label ? \"'\" + $json.classification_label + \"'\" : 'NULL' }},\n  {{ $json.confidence_score || 0 }},\n  '{{ $json.classification_result.replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.extracted_fields.replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.filing_target ? \"'\" + $json.filing_target.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.downstream_action ? \"'\" + $json.downstream_action + \"'\" : 'NULL' }},\n  {{ $json.review_required }},\n  {{ $json.processing_status ? \"'\" + $json.processing_status + \"'\" : 'NULL' }},\n  {{ $json.ai_model_used ? \"'\" + $json.ai_model_used + \"'\" : 'NULL' }},\n  '{{ $json.ai_model_source }}',\n  {{ $json.ai_response_time_ms || 0 }},\n  {{ $json.ai_fallback_used }},\n  {{ $json.error_message ? \"'\" + $json.error_message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.received_at }}',\n  '{{ $json.processed_at }}'\n)\nON CONFLICT (document_id) DO NOTHING\nRETURNING document_id, classification_label, downstream_action;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "MMScP2tKEgzvhkYM",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "node_respond",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2440,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { const d = $('Prepare Log Data').first().json; return { status: \"success\", document_id: d.document_id, classification_label: d.classification_label, confidence_score: d.confidence_score, routing_destination: d.routing_destination, filing_target: d.filing_target, downstream_action: d.downstream_action, review_required: d.review_required, processing_status: d.processing_status, extracted_fields: JSON.parse(d.extracted_fields || '{}'), ai_fallback_used: d.ai_fallback_used, processed_at: d.processed_at }; })() }}",
          "options": {
            "responseCode": 200
          }
        }
      },
      {
        "id": "node_fail_respond",
        "name": "Validation Fail Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          420
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: \"error\", error_type: \"validation\", errors: $json.doc.validation_errors, document_id: $json.doc.document_id } }}",
          "options": {
            "responseCode": 400
          }
        }
      },
      {
        "id": "node_fail_log",
        "name": "Log Validation Failure",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          880,
          560
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO document_log (document_id, execution_id, workflow_version, client_id, source_type, file_name, file_type, raw_payload, normalized_payload, validation_passed, validation_errors, processing_status, received_at, processed_at) VALUES ('{{ $json.doc.document_id }}', {{ $json.doc.execution_id ? \"'\" + $json.doc.execution_id + \"'\" : 'NULL' }}, 'document_intake_v1', '{{ $json.doc.client_id }}', {{ $json.doc.source_type ? \"'\" + $json.doc.source_type + \"'\" : 'NULL' }}, {{ $json.doc.file_name ? \"'\" + $json.doc.file_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.doc.file_type ? \"'\" + $json.doc.file_type + \"'\" : 'NULL' }}, '{{ JSON.stringify($json.raw_payload).replace(/'/g, \"''\") }}'::jsonb, '{{ JSON.stringify($json.doc).replace(/'/g, \"''\") }}'::jsonb, false, '{{ JSON.stringify($json.doc.validation_errors) }}'::jsonb, 'failed', '{{ $json.doc.received_at }}', NOW()) ON CONFLICT (document_id) DO NOTHING;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "MMScP2tKEgzvhkYM",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "node_error_catch",
        "name": "Error Handler",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          600
        ],
        "parameters": {}
      },
      {
        "id": "node_error_log",
        "name": "Log Workflow Error",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          220,
          600
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO workflow_errors (execution_id, workflow_id, error_type, error_message, failed_at, retry_count, resolved) VALUES ('{{ $json.execution.id }}', 'document_intake_v1', 'fatal', '{{ ($json.error.message || 'Unknown error').replace(/'/g, \"''\") }}', NOW(), 0, false);",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "MMScP2tKEgzvhkYM",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "Document Webhook": {
        "main": [
          [
            {
              "node": "Normalize Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Document": {
        "main": [
          [
            {
              "node": "Validate Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Document": {
        "main": [
          [
            {
              "node": "Validation Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation Gate": {
        "main": [
          [
            {
              "node": "Extract Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Fail Response",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Validation Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text": {
        "main": [
          [
            {
              "node": "Ollama Classify & Extract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Classify & Extract": {
        "main": [
          [
            {
              "node": "Parse & Route",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Route": {
        "main": [
          [
            {
              "node": "Route by Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Action": {
        "main": [
          [
            {
              "node": "Auto Process Document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Human Review Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Escalate Document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Archive Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto Process Document": {
        "main": [
          [
            {
              "node": "Prepare Log Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Human Review Alert": {
        "main": [
          [
            {
              "node": "Prepare Log Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escalate Document": {
        "main": [
          [
            {
              "node": "Prepare Log Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Archive Document": {
        "main": [
          [
            {
              "node": "Prepare Log Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Log Data": {
        "main": [
          [
            {
              "node": "Log to PostgreSQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to PostgreSQL": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Handler": {
        "main": [
          [
            {
              "node": "Log Workflow Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alan Coronado",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-09T23:01:44.572Z",
        "id": 65,
        "workflowId": "riCozLIp9vwM1mjt",
        "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
        "event": "deactivated",
        "userId": "57aa1325-f836-4f8b-a964-640862e141f6"
      },
      {
        "createdAt": "2026-05-09T23:01:44.611Z",
        "id": 66,
        "workflowId": "riCozLIp9vwM1mjt",
        "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
        "event": "activated",
        "userId": "57aa1325-f836-4f8b-a964-640862e141f6"
      },
      {
        "createdAt": "2026-05-09T23:01:44.751Z",
        "id": 67,
        "workflowId": "riCozLIp9vwM1mjt",
        "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
        "event": "deactivated",
        "userId": "57aa1325-f836-4f8b-a964-640862e141f6"
      },
      {
        "createdAt": "2026-05-09T23:01:44.803Z",
        "id": 68,
        "workflowId": "riCozLIp9vwM1mjt",
        "versionId": "f7ea684c-e7e4-4148-a473-33c7e57ed9f8",
        "event": "activated",
        "userId": "57aa1325-f836-4f8b-a964-640862e141f6"
      }
    ]
  }
}