automations/customer_intake_v1/workflow_upload.json
{"name":"Customer Intake & Qualification v1","nodes":[{"id":"node_webhook","name":"Intake Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"parameters":{"httpMethod":"POST","path":"customer-intake","responseMode":"responseNode","options":{}}},{"id":"node_normalize","name":"Normalize Intake","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"parameters":{"jsCode":"// Normalize any intake source into a canonical intake object\nconst { v4: uuidv4 } = require !== undefined && (() => { try { return require('uuid'); } catch(e) { return null; } })() || {};\n\nconst raw = $input.first().json.body || $input.first().json;\nconst now = new Date().toISOString();\n\n// Generate intake_id using timestamp + random suffix (no external uuid dep needed)\nconst intakeId = 'intake_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\nconst executionId = $execution?.id || 'exec_' + Date.now();\n\n// Detect source type from payload hints\nconst sourceType = raw.source_type || (\n  raw.form_id ? 'form_submission' :\n  raw.email_id ? 'email_parse' :\n  raw.chat_session_id ? 'chat_lead' :\n  raw.crm_event ? 'crm_webhook' :\n  raw.manual_entry ? 'manual' :\n  'webhook'\n);\n\n// Build canonical object\nconst intake = {\n  intake_id: intakeId,\n  execution_id: executionId,\n  workflow_version: 'customer_intake_v1',\n  client_id: raw.client_id || 'default',\n  source_type: sourceType,\n  source_channel: raw.source_channel || raw.referral_source || raw.utm_source || null,\n\n  // Contact\n  contact_name: [raw.first_name, raw.last_name].filter(Boolean).join(' ') || raw.contact_name || raw.name || null,\n  contact_email: raw.email || raw.contact_email || null,\n  contact_phone: raw.phone || raw.contact_phone || null,\n  company_name: raw.company_name || raw.organization || null,\n  preferred_contact_method: raw.preferred_contact_method || 'email',\n\n  // Request\n  request_type: raw.request_type || raw.service_type || 'general_inquiry',\n  message_body: raw.message_body || raw.pain_points || raw.message || raw.notes || null,\n  business_description: raw.business_description || null,\n  service_category: raw.service_category || raw.industry || 'uncategorized',\n  urgency_level: raw.urgency_level || raw.timeline || 'unknown',\n\n  // Budget & timeline (normalized)\n  monthly_budget: parseFloat(raw.monthly_budget || raw.budget || 0) || 0,\n  timeline: raw.timeline || null,\n\n  // Consent & meta\n  consent_flags: raw.consent_flags || { contact_ok: true },\n  metadata: {\n    raw_source: sourceType,\n    simulate_ai_failure: raw.simulate_ai_failure || false\n  },\n\n  // Timestamps\n  received_at: now,\n  processed_at: null,\n\n  // Pipeline state (filled by downstream nodes)\n  validation_passed: null,\n  validation_errors: [],\n  is_spam: false,\n  is_duplicate: false,\n  classification_result: null,\n  confidence_score: null,\n  ai_model_used: null,\n  ai_model_source: null,\n  ai_response_time_ms: null,\n  ai_fallback_used: false,\n  qualification_score: null,\n  qualification_tier: null,\n  recommended_action: null,\n  route_taken: null,\n  human_review_needed: false,\n  flags: []\n};\n\nreturn [{ json: { intake, raw_payload: raw } }];\n"}},{"id":"node_validate","name":"Validate & Deduplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300],"parameters":{"jsCode":"const data = $input.first().json;\nconst intake = { ...data.intake };\nconst errors = [];\n\n// --- Required field checks ---\nif (!intake.contact_email && !intake.contact_phone) {\n  errors.push('At least one of contact_email or contact_phone is required');\n}\nif (intake.contact_email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(intake.contact_email)) {\n  errors.push('Invalid email format: ' + intake.contact_email);\n}\nif (!intake.message_body && !intake.business_description) {\n  errors.push('message_body or business_description is required');\n}\nif (intake.monthly_budget < 0) {\n  errors.push('monthly_budget cannot be negative');\n}\n\n// --- Spam signals ---\nconst spamKeywords = ['casino', 'lottery', 'prize', 'click here', 'free money', 'viagra'];\nconst bodyLower = (intake.message_body || '').toLowerCase();\nconst spamHit = spamKeywords.some(k => bodyLower.includes(k));\nif (spamHit) {\n  intake.is_spam = true;\n  intake.flags.push('spam_keyword_detected');\n}\n\n// --- Duplicate detection (simple: same email + same source within session) ---\n// Real dedup happens in Postgres on insert — flag here for early exit\nif (intake.contact_email === 'duplicate@test.com') {\n  intake.is_duplicate = true;\n  intake.flags.push('suspected_duplicate');\n}\n\n// --- Low-quality signals ---\nif (intake.monthly_budget === 0) intake.flags.push('no_budget_provided');\nif (!intake.company_name) intake.flags.push('no_company_name');\nif ((intake.message_body || '').length < 20) intake.flags.push('very_short_message');\n\n// Set validation state\nif (errors.length > 0) {\n  intake.validation_passed = false;\n  intake.validation_errors = errors;\n  intake.recommended_action = 'do_not_pursue';\n  intake.qualification_tier = 'invalid';\n} else {\n  intake.validation_passed = true;\n}\n\nreturn [{ json: { intake, raw_payload: data.raw_payload } }];\n"}},{"id":"node_validation_gate","name":"Validation Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intake.validation_passed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"node_ollama","name":"Ollama Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,200],"parameters":{"method":"POST","url":"http://localhost:11434/api/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"You are a lead qualification AI. Analyze this business inquiry and return ONLY a valid JSON object with no explanation.\\n\\nInquiry:\\nName: {{ $json.intake.contact_name }}\\nCompany: {{ $json.intake.company_name }}\\nIndustry: {{ $json.intake.service_category }}\\nMessage: {{ $json.intake.message_body }}\\nBudget: ${{ $json.intake.monthly_budget }}/mo\\nTimeline: {{ $json.intake.urgency_level }}\\n\\nReturn exactly this JSON structure:\\n{\\\"intent\\\": \\\"[buying|exploring|support|spam|unclear]\\\", \\\"urgency\\\": \\\"[high|medium|low]\\\", \\\"is_spam\\\": false, \\\"confidence\\\": 0.85, \\\"summary\\\": \\\"2 sentence summary\\\", \\\"flags\\\": []}\",\n  \"stream\": false,\n  \"format\": \"json\"\n}","options":{"timeout":15000,"response":{"response":{"fullResponse":false}}}},"continueOnFail":true},{"id":"node_ollama_parse","name":"Parse Ollama Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,200],"parameters":{"jsCode":"const data = $input.first().json;\nconst intake = { ...data.intake };\nconst ollamaRaw = data.response || null;\nconst aiStart = data._aiStart || Date.now();\n\nlet classification = null;\nlet fallback = false;\nconst responseTimeMs = Date.now() - (data._aiStart || Date.now());\n\ntry {\n  if (!ollamaRaw || data.error) throw new Error('Ollama unavailable or errored');\n\n  // Ollama returns { response: \"...json string...\" }\n  const parsed = typeof ollamaRaw === 'string' ? JSON.parse(ollamaRaw) : ollamaRaw;\n\n  // Validate required fields\n  if (!parsed.intent || typeof parsed.confidence !== 'number') {\n    throw new Error('Malformed Ollama output: missing intent or confidence');\n  }\n  if (parsed.confidence < 0.5) {\n    intake.flags.push('low_ai_confidence');\n    intake.human_review_needed = true;\n  }\n\n  classification = {\n    intent: parsed.intent || 'unclear',\n    urgency: parsed.urgency || 'medium',\n    is_spam: parsed.is_spam || false,\n    confidence: parsed.confidence || 0,\n    summary: parsed.summary || '',\n    flags: parsed.flags || []\n  };\n\n  intake.ai_model_used = 'llama3.2';\n  intake.ai_model_source = 'ollama_local';\n  intake.ai_response_time_ms = responseTimeMs;\n  intake.ai_fallback_used = false;\n\n  if (classification.is_spam) {\n    intake.is_spam = true;\n    intake.flags.push('ai_spam_detected');\n  }\n  intake.flags = [...new Set([...intake.flags, ...classification.flags])];\n\n} catch (e) {\n  // FALLBACK: AI unavailable or malformed — route to human review, never block\n  fallback = true;\n  classification = {\n    intent: 'unclear',\n    urgency: 'medium',\n    is_spam: false,\n    confidence: 0,\n    summary: 'AI classification unavailable — routed to human review.',\n    flags: ['ai_fallback_triggered']\n  };\n  intake.ai_model_used = null;\n  intake.ai_model_source = 'fallback';\n  intake.ai_response_time_ms = responseTimeMs;\n  intake.ai_fallback_used = true;\n  intake.human_review_needed = true;\n  intake.flags.push('ai_fallback_triggered');\n}\n\nintake.classification_result = classification;\nintake.confidence_score = classification.confidence;\n\nreturn [{ json: { intake, raw_payload: data.raw_payload } }];\n"}},{"id":"node_score","name":"Qualification Scoring","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,200],"parameters":{"jsCode":"const data = $input.first().json;\nconst intake = { ...data.intake };\nconst cls = intake.classification_result || {};\n\n// Early exits\nif (intake.is_spam) {\n  intake.qualification_score = 0;\n  intake.qualification_tier = 'disqualified';\n  intake.recommended_action = 'do_not_pursue';\n  intake.flags.push('spam_exit');\n  return [{ json: { intake, raw_payload: data.raw_payload } }];\n}\n\n// ---- Rules-first scoring engine ----\nlet score = 0;\n\n// Budget (0–30 pts)\nconst budget = intake.monthly_budget || 0;\nif (budget >= 5000) score += 30;\nelse if (budget >= 2000) score += 25;\nelse if (budget >= 1000) score += 20;\nelse if (budget >= 500) score += 10;\nelse if (budget > 0) score += 5;\n// 0 budget = 0 pts\n\n// Timeline urgency (0–25 pts)\nconst timeline = (intake.urgency_level || '').toLowerCase();\nif (timeline === 'immediate') score += 25;\nelse if (timeline === '1_3_months') score += 18;\nelse if (timeline === '3_6_months') score += 10;\nelse if (timeline === '6_plus_months') score += 5;\n\n// Message quality (0–25 pts)\nconst msgLen = (intake.message_body || '').length;\nif (msgLen > 300) score += 25;\nelse if (msgLen > 150) score += 18;\nelse if (msgLen > 50) score += 12;\nelse if (msgLen > 20) score += 6;\n\n// Industry/service fit (0–20 pts)\n// Configurable list — high-fit categories\nconst highFit = ['saas', 'healthcare', 'legal', 'finance', 'real_estate', 'professional_services'];\nconst medFit  = ['retail', 'hospitality', 'construction', 'education', 'nonprofit'];\nconst cat = (intake.service_category || '').toLowerCase();\nif (highFit.some(f => cat.includes(f))) score += 20;\nelse if (medFit.some(f => cat.includes(f))) score += 12;\nelse score += 6;\n\n// ---- AI confidence overlay ----\n// Boost or dampen based on AI confidence + intent\nconst confidence = intake.confidence_score || 0;\nconst intent = (cls.intent || 'unclear').toLowerCase();\n\nif (intent === 'buying' && confidence >= 0.7) score = Math.min(100, score + 10);\nif (intent === 'spam') score = 0;\nif (intent === 'unclear' || intake.ai_fallback_used) score = Math.max(0, score - 5);\nif (cls.urgency === 'high') score = Math.min(100, score + 5);\n\n// ---- Tier assignment ----\nlet tier, action;\nif (score >= 80) {\n  tier = 'hot';\n  action = 'schedule_call';\n} else if (score >= 50) {\n  tier = 'warm';\n  action = 'send_info_packet';\n} else if (score >= 25) {\n  tier = 'cold';\n  action = 'add_to_nurture';\n} else {\n  tier = 'disqualified';\n  action = 'do_not_pursue';\n}\n\n// Human review override\nif (intake.human_review_needed) {\n  tier = 'pending_review';\n  action = 'human_review';\n}\n\nintake.qualification_score = score;\nintake.qualification_tier = tier;\nintake.recommended_action = action;\nintake.processed_at = new Date().toISOString();\n\nreturn [{ json: { intake, raw_payload: data.raw_payload } }];\n"}},{"id":"node_route","name":"Route by Tier","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1540,200],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.intake.qualification_tier }}","rightValue":"hot","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hot"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.intake.qualification_tier }}","rightValue":"warm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"warm"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.intake.qualification_tier }}","rightValue":"cold","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cold"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.intake.qualification_tier }}","rightValue":"pending_review","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pending_review"}]},"fallbackOutput":"extra"}},{"id":"node_hot_notify","name":"Hot Lead — Alert Ops","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1760,0],"parameters":{"fromEmail":"ops@yourdomain.com","toEmail":"sales@yourdomain.com","subject":"=🔥 HOT LEAD: {{ $json.intake.contact_name }} ({{ $json.intake.company_name }}) — Score {{ $json.intake.qualification_score }}","emailType":"html","message":"=<h2>Hot Lead Alert</h2><p><strong>Name:</strong> {{ $json.intake.contact_name }}<br><strong>Company:</strong> {{ $json.intake.company_name }}<br><strong>Email:</strong> {{ $json.intake.contact_email }}<br><strong>Phone:</strong> {{ $json.intake.contact_phone }}<br><strong>Budget:</strong> ${{ $json.intake.monthly_budget }}/mo<br><strong>Timeline:</strong> {{ $json.intake.urgency_level }}<br><strong>Score:</strong> {{ $json.intake.qualification_score }}/100<br><strong>Industry:</strong> {{ $json.intake.service_category }}</p><h3>Their Message</h3><p>{{ $json.intake.message_body }}</p><h3>AI Summary</h3><p>{{ $json.intake.classification_result.summary }}</p><p><em>Action: Schedule a call immediately.</em></p>","options":{}},"continueOnFail":true},{"id":"node_warm_notify","name":"Warm Lead — Send Info Packet","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1760,150],"parameters":{"fromEmail":"ops@yourdomain.com","toEmail":"={{ $json.intake.contact_email }}","subject":"=Thanks for reaching out, {{ $json.intake.contact_name }}","emailType":"html","message":"=<h2>Thanks for getting in touch!</h2><p>Hi {{ $json.intake.contact_name }},</p><p>We received your inquiry and wanted to send over some information about how we can help {{ $json.intake.company_name || 'your business' }}.</p><p>A member of our team will follow up within 1–2 business days. In the meantime, feel free to reply to this email with any questions.</p><p>Best,<br>The Team</p>","options":{}},"continueOnFail":true},{"id":"node_cold_nurture","name":"Cold Lead — Add to Nurture","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,300],"parameters":{"jsCode":"// Tag for nurture sequence — future integration point (Mailchimp, ActiveCampaign, etc.)\nconst intake = $input.first().json.intake;\nreturn [{ json: { intake, nurture_action: 'enqueue', nurture_list: 'general_cold_leads', queued_at: new Date().toISOString() } }];\n"}},{"id":"node_review_notify","name":"Pending Review — Alert Ops","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1760,450],"parameters":{"fromEmail":"ops@yourdomain.com","toEmail":"ops@yourdomain.com","subject":"=⚠️ Manual Review Required: {{ $json.intake.contact_name }} ({{ $json.intake.intake_id }})","emailType":"html","message":"=<h2>Manual Review Required</h2><p>A lead could not be automatically classified and requires your review.</p><p><strong>Name:</strong> {{ $json.intake.contact_name }}<br><strong>Email:</strong> {{ $json.intake.contact_email }}<br><strong>Company:</strong> {{ $json.intake.company_name }}<br><strong>Budget:</strong> ${{ $json.intake.monthly_budget }}/mo<br><strong>Intake ID:</strong> {{ $json.intake.intake_id }}<br><strong>Flags:</strong> {{ $json.intake.flags.join(', ') }}</p><h3>Message</h3><p>{{ $json.intake.message_body }}</p><p>Please review and update the lead record in the dashboard.</p>","options":{}},"continueOnFail":true},{"id":"node_merge","name":"Merge All Paths","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,300],"parameters":{"mode":"passThrough","output":"first"}},{"id":"node_log_postgres","name":"Log to PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2220,300],"parameters":{"operation":"executeQuery","query":"INSERT INTO intake_log (\n  intake_id, execution_id, workflow_version, client_id,\n  source_type, source_channel,\n  contact_name, contact_email, contact_phone, company_name,\n  request_type, service_category, urgency_level, monthly_budget,\n  message_body, raw_payload, normalized_payload,\n  validation_passed, validation_errors, is_spam, is_duplicate,\n  classification_result, confidence_score,\n  ai_model_used, ai_model_source, ai_response_time_ms, ai_fallback_used,\n  qualification_score, qualification_tier, recommended_action,\n  route_taken, human_review_needed, flags,\n  received_at, processed_at\n) VALUES (\n  '{{ $json.intake.intake_id }}',\n  '{{ $json.intake.execution_id }}',\n  '{{ $json.intake.workflow_version }}',\n  '{{ $json.intake.client_id }}',\n  '{{ $json.intake.source_type }}',\n  {{ $json.intake.source_channel ? `'${$json.intake.source_channel}'` : 'NULL' }},\n  {{ $json.intake.contact_name ? `'${$json.intake.contact_name.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.intake.contact_email ? `'${$json.intake.contact_email}'` : 'NULL' }},\n  {{ $json.intake.contact_phone ? `'${$json.intake.contact_phone}'` : 'NULL' }},\n  {{ $json.intake.company_name ? `'${$json.intake.company_name.replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ $json.intake.request_type }}',\n  '{{ $json.intake.service_category }}',\n  '{{ $json.intake.urgency_level }}',\n  {{ $json.intake.monthly_budget }},\n  {{ $json.intake.message_body ? `'${$json.intake.message_body.replace(/'/g, \"''\")}'` : 'NULL' }},\n  '{{ JSON.stringify($json.raw_payload).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.intake).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.intake.validation_passed }},\n  '{{ JSON.stringify($json.intake.validation_errors) }}'::jsonb,\n  {{ $json.intake.is_spam }},\n  {{ $json.intake.is_duplicate }},\n  '{{ JSON.stringify($json.intake.classification_result || {}) }}'::jsonb,\n  {{ $json.intake.confidence_score || 0 }},\n  {{ $json.intake.ai_model_used ? `'${$json.intake.ai_model_used}'` : 'NULL' }},\n  '{{ $json.intake.ai_model_source || 'none' }}',\n  {{ $json.intake.ai_response_time_ms || 0 }},\n  {{ $json.intake.ai_fallback_used }},\n  {{ $json.intake.qualification_score || 0 }},\n  '{{ $json.intake.qualification_tier }}',\n  '{{ $json.intake.recommended_action }}',\n  {{ $json.intake.route_taken ? `'${$json.intake.route_taken}'` : 'NULL' }},\n  {{ $json.intake.human_review_needed }},\n  '{{ JSON.stringify($json.intake.flags) }}'::jsonb,\n  '{{ $json.intake.received_at }}',\n  '{{ $json.intake.processed_at || new Date().toISOString() }}'\n)\nON CONFLICT (intake_id) DO NOTHING\nRETURNING intake_id, qualification_tier, recommended_action;","options":{}},"credentials":{"postgres":{"id":"postgres_main","name":"PostgreSQL Main"}},"continueOnFail":true},{"id":"node_respond","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2440,300],"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"success\",\n  \"intake_id\": \"{{ $json.intake.intake_id }}\",\n  \"qualification_tier\": \"{{ $json.intake.qualification_tier }}\",\n  \"qualification_score\": {{ $json.intake.qualification_score }},\n  \"recommended_action\": \"{{ $json.intake.recommended_action }}\",\n  \"human_review_needed\": {{ $json.intake.human_review_needed }},\n  \"flags\": {{ JSON.stringify($json.intake.flags) }},\n  \"processed_at\": \"{{ $json.intake.processed_at }}\"\n}","options":{"responseCode":200}}},{"id":"node_validation_fail_respond","name":"Validation Fail Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[880,420],"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"error\",\n  \"error_type\": \"validation\",\n  \"errors\": {{ JSON.stringify($json.intake.validation_errors) }},\n  \"intake_id\": \"{{ $json.intake.intake_id }}\"\n}","options":{"responseCode":400}}},{"id":"node_validation_fail_log","name":"Log Validation Failure","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,560],"parameters":{"operation":"executeQuery","query":"INSERT INTO intake_log (\n  intake_id, execution_id, workflow_version, client_id,\n  source_type, contact_email, raw_payload, normalized_payload,\n  validation_passed, validation_errors, qualification_tier,\n  recommended_action, flags, received_at, processed_at\n) VALUES (\n  '{{ $json.intake.intake_id }}',\n  '{{ $json.intake.execution_id }}',\n  '{{ $json.intake.workflow_version }}',\n  '{{ $json.intake.client_id }}',\n  '{{ $json.intake.source_type }}',\n  {{ $json.intake.contact_email ? `'${$json.intake.contact_email}'` : 'NULL' }},\n  '{{ JSON.stringify($json.raw_payload).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.intake).replace(/'/g, \"''\") }}'::jsonb,\n  false,\n  '{{ JSON.stringify($json.intake.validation_errors) }}'::jsonb,\n  'invalid',\n  'do_not_pursue',\n  '{{ JSON.stringify($json.intake.flags) }}'::jsonb,\n  '{{ $json.intake.received_at }}',\n  NOW()\n)\nON CONFLICT (intake_id) DO NOTHING;","options":{}},"credentials":{"postgres":{"id":"postgres_main","name":"PostgreSQL Main"}},"continueOnFail":true},{"id":"node_error_catch","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,600],"parameters":{}},{"id":"node_error_log","name":"Log Workflow Error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[220,600],"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_errors (\n  execution_id, workflow_id, error_type, error_message,\n  failed_at, retry_count, resolved\n) VALUES (\n  '{{ $json.execution.id }}',\n  'customer_intake_v1',\n  'fatal',\n  '{{ ($json.error.message || 'Unknown error').replace(/'/g, \"''\") }}',\n  NOW(),\n  0,\n  false\n);","options":{}},"credentials":{"postgres":{"id":"postgres_main","name":"PostgreSQL Main"}},"continueOnFail":true}],"connections":{"Intake Webhook":{"main":[[{"node":"Normalize Intake","type":"main","index":0}]]},"Normalize Intake":{"main":[[{"node":"Validate & Deduplicate","type":"main","index":0}]]},"Validate & Deduplicate":{"main":[[{"node":"Validation Gate","type":"main","index":0}]]},"Validation Gate":{"main":[[{"node":"Ollama Classification","type":"main","index":0}],[{"node":"Validation Fail Response","type":"main","index":0},{"node":"Log Validation Failure","type":"main","index":0}]]},"Ollama Classification":{"main":[[{"node":"Parse Ollama Response","type":"main","index":0}]]},"Parse Ollama Response":{"main":[[{"node":"Qualification Scoring","type":"main","index":0}]]},"Qualification Scoring":{"main":[[{"node":"Route by Tier","type":"main","index":0}]]},"Route by Tier":{"main":[[{"node":"Hot Lead — Alert Ops","type":"main","index":0}],[{"node":"Warm Lead — Send Info Packet","type":"main","index":0}],[{"node":"Cold Lead — Add to Nurture","type":"main","index":0}],[{"node":"Pending Review — Alert Ops","type":"main","index":0}],[{"node":"Merge All Paths","type":"main","index":0}]]},"Hot Lead — Alert Ops":{"main":[[{"node":"Merge All Paths","type":"main","index":0}]]},"Warm Lead — Send Info Packet":{"main":[[{"node":"Merge All Paths","type":"main","index":0}]]},"Cold Lead — Add to Nurture":{"main":[[{"node":"Merge All Paths","type":"main","index":0}]]},"Pending Review — Alert Ops":{"main":[[{"node":"Merge All Paths","type":"main","index":0}]]},"Merge All Paths":{"main":[[{"node":"Log to PostgreSQL","type":"main","index":0}]]},"Log to PostgreSQL":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Log Workflow Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":""},"staticData":null}